<!DOCTYPE html>
<html>
<head>
<%- include('partials/head') %>
<%- include('partials/header') %>
</head>    
<body>
        <h1>Edit Client Page</h1>
        <form action="/clients/<%=r_client.id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%=r_client.name%>"/><br/>
            Goal: <input type="text" name="goal" value="<%=r_client.goal%>"/><br/>
            Sessions: <input type="number" name="sessions" value="<%=r_client.sessions%>"/><br/>
            Payment:
            <input type="text" name="payment" value="<%=r_client.payment%>"/>
            <br/>
            <input type="submit" value="Submit Changes"/>
        </form>
    </body>
</html>
