<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head'); %>
    <%- include('partials/header') %>
</head>
<body>
    <h1>
        <%=r_client.name %>
    </h1>
    Their goal is <%=r_client.goal; %>.
        They have <%=r_client.sessions; %>.
            <% if(r_client.payment===true){ %>
                Paid in full
                <% } else { %>
                    Payment pending
                    <% } %>
                        <nav>
                            <a href="/clients">Back to Client</a>
                        </nav>
</body>

</html>